* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0;
	background-color: #f2eaea;
}

.heading {
	color: #000000;
	text-decoration: underline;
	padding: 10px;
	font-size: 2em;
}

.date-choice {
	text-align: center;
	padding: 10px;
}

.selection {
    padding: 10px;
    margin: 10px;
    font-size: .6em;
    border: 2px solid black;
}

.selection-input {
	margin: 6px;
	font-size: 2em;
	color: #000000;
}

.clock-background {
	width: 70%;
	margin: 0% 15%;
	padding: 2%;
	background-color: #808080;
	border-radius: 80px;
	border: 8px solid black;
}

.button {
    height: 30px;
    width: 10%;
    margin: 0% 11%;
    background-color: #000000;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    border-radius: 80px;
    border: 2px solid white;
    display: inline-block;
    float: left;
}

.alarm-clock {
    background-color: #000000;
    color: #ffffff;
    border-radius: 80px;
    border: 2px solid white;
    height: 100%;
    display: inline-block;
    width: 96%;
    padding: 5%;
    margin: 2%;
}

.current-data-heading {
	text-decoration: underline;
	padding: 26px 0px;
}

.current-data {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	font-size: 2em;
}

